<div class="main">
  <div class="center">
    <app-workout-exercise-card
      *ngFor="let exercise of addedExercises"
      [name]="exercise.name"
      [primaryMuscleGroup]="exercise.primaryMuscleGroup"
      [sets]="exercise.sets"
      [submitted]="submitted"
      (removeRequest)="removeExercise($event)"
      (submittedExercise)="pushSubmittedExercise($event)"
    ></app-workout-exercise-card>
    <button
      (click)="submitWorkout()"
      mat-raised-button
      class="w-full"
      color="primary"
    >
      Save workout
    </button>
    <span class="text-accent">{{ response }}</span>
  </div>
  <div class="exercises">
    <div
      class="row items-center justify-start w-full gap-1"
      *ngFor="let exercise of exercises"
    >
      <button (click)="addExercise(exercise)" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
      <img
        src="../../../assets/00251201-Barbell-Bench-Press_Chest_thumbnail@3x.jpg"
        alt=""
      />

      <div class="col">
        <span class="text-accent font-semibold">{{ exercise.name }}</span>
        <span> Target: {{ exercise.primaryMuscleGroup }}</span>
      </div>
    </div>
  </div>
</div>
