.profile-card{
    margin-top: 10vh;
    width: 50%;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
}

.profile{
    display: flex;
    gap: 1vw;
    margin: 2vw;
    width: 100%;
    align-items:center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 300px;
}

img{
    width: auto;
    height: 100%;
}

.name-edit{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.workout-card{
    background-color: rgba(0, 0, 0, 0.5);
    width: 40vw;
    border-radius: 10px;
    margin-top: 10vh;
}

.user{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.w-name{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.exercise{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.exer-thumb{
    width: 50px;
    border-radius: 100%;
}

