<div class="main">
    <div class="routines">
        <div class="routines-title">
            <div>My routines:</div>
            <button mat-icon-button>
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="routine-item">
            <div>push</div>
            <div>
                <button mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>