<div class="main">
    <div class="searchbar">
        <button mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
        <input type="text" placeholder="Search Users">
    </div>
    <div class="friends">
        <div class="friend">
            <img src="../../../assets/blank-profile-picture-973460_960_720.webp">
            <div>Sanya01000000000</div>
            <button mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>