<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-small-menu (onLogout)="logout()" *ngIf="loggedInUser" (onClose)="close($event, sidenav)"></app-small-menu>
    </mat-sidenav>

    <mat-sidenav-content class="bg-secondary">
        <mat-toolbar color="primary" class="fixed top-0 z-99"  fxHide.gt-md  *ngIf="loggedInUser">
            <button mat-icon-button (click)="onToggleSidenav(sidenav)">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <div fxHide.md fxHide.sm fxHide.xs *ngIf="loggedInUser">
            <app-menu (onLogout)="logout()"></app-menu>
        </div>
        <router-outlet />
    </mat-sidenav-content>

</mat-sidenav-container>