<div class="main">
    <div class="card">
        <div class="user">
            <mat-icon>person</mat-icon>
            <span>
                <div>Felhasznalonev</div>
                <div>date</div>
            </span>
        </div>
        <div class="w-name">WorkoutName</div>
        <div>
            <div class="exercise"><img class="exer-thumb"
                    src="../../../assets/00251201-Barbell-Bench-Press_Chest_thumbnail@3x.jpg"
                    alt="">
            <span>ExerciseName</span></div>
        </div>
        <div>
            <div class="exercise"><img class="exer-thumb"
                    src="../../../assets/00251201-Barbell-Bench-Press_Chest_thumbnail@3x.jpg"
                    alt="">
            <span>ExerciseName</span></div>
        </div>
        <div>
            <div class="exercise"><img class="exer-thumb"
                    src="../../../assets/00251201-Barbell-Bench-Press_Chest_thumbnail@3x.jpg"
                    alt="">
            <span>ExerciseName</span></div>
        </div>
        <div>
            <div class="exercise"><img class="exer-thumb"
                    src="../../../assets/00251201-Barbell-Bench-Press_Chest_thumbnail@3x.jpg"
                    alt="">
            <span>ExerciseName</span></div>
        </div>
    </div>
</div>