@use "sass:map";
@use "@angular/material" as mat;

.default-background {
  background-color: rgb(0, 0, 0, 0.5);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #e1f7f5;
}

.text-primary {
  color: #7b1fa2;
}

.text-accent {
  color: #69f0ae;
}

.font-semibold {
  font-weight: 500;
}

.text-l {
  font-size: large;
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.alignHorizontal {
  align-items: center;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.w-full {
  width: 100%;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}
